.process{
  margin-left: 30px;
  margin-right: 30px;
  letter-spacing: 1px;
}
@media(min-width:1920px) {
  .process{
    margin-left: 5%;
    margin-right: 5%;
    letter-spacing: 1px;
  }
}
.backTop{
  bottom: 20px;
  right: 30px;
}
.title{
  height: 60px;
  line-height: 60px;
}
.title .title_span{
  color:#4a9ff2;
  font-size: 16px;
  font-weight: 500;
}
.span_choose{
  float: right;
  color: white;
}
.choose1{

}
.choose2{
margin-left: 20px;
}
.select1{
  width: 170px;
}
.select2{
  width: 80px;
}
.showDateRange{
  width: 250px;

}
.sale{
  height:70px;
  border-radius: 3px;
  background-color: #4b5357;
  border: 1px solid #424b4f;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);
  box-shadow:0 0 10px rgba(0, 0, 0, .5);
}
.img1{
  width: 27%;
  height: 100%;
  border-radius: 3px;
  float: left;
  border-right: 1px solid #2f3638;
  background-color: #424b4f;
  text-align:center;
  margin: 0 auto;
 }
.img1 img{
  width: 80%;
  height: 80%;
  vertical-align: middle;
}
.img1 span{
  height: 100%;
  width: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.img1_content{
  height: 60px;
  float:left;
  margin:5px 20px;
  color: white;
}
.img1_content .p1{
  height:35px;
  font-size: 24px;
  font-weight: 500;
}
.img1_content .p2{
  height: 35px;
}
.content2{
  margin-top: 20px;
  background-color: #4b5357;
  border: 1px solid #424b4f;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);
  box-shadow:0 0 10px rgba(0, 0, 0, .5);
  color: white;
}
.content2 p{
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #2f3638;
  padding-left: 20px;
  background-color: #424b4f;
  font-size: 14px;
}
.sale_line{
  height: 500px;
}
.content3{
  border: 1px solid #424b4f;
  text-align: center;
  margin-top: 20px;
  line-height: 40px;
  background-color: #4b5357;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);
  box-shadow:0 0 10px rgba(0, 0, 0, .5);
}
.content3_row_title {
  color: white;
  height: 40px;
  border-bottom: 1px solid #2f3638;
  background-color: #424b4f;
}
.minusNum{
  color:#eb3c35;
}
.plusNum{
  color:#ffffff;
}
ol:nth-child(2n+1){
   height: 40px;
   background-color: #4b5357;
 }


.checkColor{
  background-color: #5d6468;
}
.content3_col{
  border-right: 1px solid #363c3e;
}
.content3_col_time{
  color: #b1b1b1;
}
.img_top{
  margin: 3px 10px;
}
.img_drop{
  clear: both;
  margin: -4px -20px;
}
.content4{
  margin-top: 20px;
}
.content4_img{
  position: absolute;
  margin: 3px -20px;
}
.content4_1{
  background-color: #4b5357;
  border: 1px solid #424b4f;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);
  box-shadow:0 0 10px rgba(0, 0, 0, .5);
  height: 300px;
  color: white;
}
.content4_1 p{
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #2f3638;
  padding-left: 20px;
  background-color: #424b4f;
  font-size: 14px;
}
.content4_2{
  background-color: #4b5357;
  border: 1px solid #424b4f;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);
  box-shadow:0 0 10px rgba(0, 0, 0, .5);
  height: 300px;
  color: white;
}
.content4_2 p{
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #2f3638;
  padding-left: 20px;
  background-color: #424b4f;
  font-size: 14px;
}
.rescueOccupy{
  width: 43%;
  height: 260px;
  float: left;
}
.colorDiv{
  width: 2%;
  height: 200px;
  float: left;
  margin:43px 0;
}
.colorDiv ul{
  list-style: none;
}
.colorDiv ul li{
  width: 12px;
  height: 12px;
  margin-top: 28px;
}
.rescueTable{
  margin:30px 0;
  width: 55%;
  float: left;
}
.content4_1_row{
  height: 40px;
  text-align: center;
  color: #b1b1b1;
}

.priceOccupy{
  width: 43%;
  height: 260px;
  float: left;
}
.priceTable{
  margin:30px 0;
  width: 55%;
  float: left;
}
.content5{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4b5357;
  border: 1px solid #424b4f;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);
  box-shadow:0 0 10px rgba(0, 0, 0, .5);
  color: white;
}
.content5 p{
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #2f3638;
  padding-left: 20px;
  background-color: #424b4f;
  font-size: 14px;
}
.content5_row1{

}
.content5_img{
  position: absolute;
  width: 30px;
  height: 30px;
  margin:-5px -35px;
}
.payAnaly{
  height: 300px;
  margin-top: 20px;
}
.payTable{
  height: 300px;
  padding-top:50px;
}
.content5_row_title{
  text-align: center;
  height: 40px;
  color: #b1b1b1;
}
.content5_row{
  text-align: center;
  height: 40px;
}
.content5_col{
  text-align: left;
  height: 40px;
  color: #b1b1b1;
}

@media (max-width: 1024px){
  .sale{
    height:60px;
    border-radius: 3px;
    background-color: #4b5357;
    border: 1px solid #424b4f;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);
    box-shadow:0 0 10px rgba(0, 0, 0, .5);
  }
  .img1{
    width: 28%;
    height: 100%;
    border-radius: 3px;
    float: left;
    border-right: 1px solid #2f3638;
    background-color: #424b4f;
    text-align:center;
    margin: 0 auto;
  }
  .img1 img{
    width: 80%;
    height: 50%;
    vertical-align: middle;
  }
  .img1_content{
    height: 50px;
    float:left;
    margin:5px 10px;
    color: white;

  }
  .img1_content .p1{
    height:30px;
    font-size: 20px;
    font-weight: 500;
  }
  .img1_content .p2{
    height: 30px;
  }
  .rescueOccupy{
    width: 40%;
    height: 260px;
    float: left;
  }
  .rescueTable{
    margin:30px 0;
    width: 58%;
    float: left;
  }
  .priceOccupy{
    width: 40%;
    height: 260px;
    float: left;
  }
  .priceTable{
    margin:30px 0;
    width: 58%;
    float: left;
  }
  .payTable{
    width: 90%;
    height: 300px;
    padding-top:50px;
    padding-left: 30px;
  }
}

.textcolor{
  color: white;
}
